.navbar {
    background-color: #00171F;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding-right: 3rem;
}

.navbar-link {
    color: #00A8E8;

    text-decoration: none;
    font-size: large;

    display: block;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-link.active {
    border-bottom-style: solid;
    border-bottom-color: #00A8E8;
}
