@use "base";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: base.$color-bg-blue;
  color: base.$color-primary;
}

.btn {
  background-color: base.$color-bg-blue;
  color: base.$color-primary;
  border-color: base.$color-primary;

  border-style: solid;
  text-decoration: none;

  padding: 1rem;
}

.btn:hover {
  background-color: base.$color-primary;
  color: base.$color-bg-blue;
}

.container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.title {
  text-align: center;
  font-size: 5rem;
}

.subtitle {
  font-size: 3rem;

  margin-top: 1rem;
  margin-bottom: 1rem;

}

.text {
  font-size: 2rem;
  text-align: justify;
}
