@use "../../base";

.edu-item {
    padding: 1rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.edu-item-logo {
    margin-right: 2rem;
    background-color: white;
    max-width: 20rem;
    align-self: center;
}

.edu-item-logo img {
    max-width: 20rem;
}

.edu-item-title {
    margin-bottom: 0;
    margin-top: 0;
}

.edu-item-subtitle {
    margin-top: 0.1rem;
    margin-bottom: 0;
    color: base.$color-secondary;
}

.edu-item-desc {
    padding-left: 1rem;
}

.edu-item-link {
    padding: 0.3rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-width: thin;
}
